

.booth {
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}
#video {
    width: 400px;
    height: 300px;
}

.booth-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
}
.download-capture-button{
    display: none;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
}

.save-capture-button{
    display: none;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
}
#canvas{
    width: 400px;
    height: 300px;
}
.button-submit{
    width: 400px;
    height: 30px;
}

.hidden
{
    display: none;
}