header
{
    width: 100%;
    background-color: black;
    border-radius: 15px 15px;
}

#instalogo
{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 25px;
}
ul
{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.ulhead > li
{
    position: relative;
    float: right;
}
ul.ulhead > li > a
{
    margin-right: 50px;
    display: block;
    background-color: grey;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-size: 18px;
    color: white;
    border-radius: 15px 15px;
}
ul.ulhead > li > a:hover
{
    background-color: silver;
}
.logheader
{
    width: 1760px;
    height: 82px;
}
.logout
{
    float: right;
    margin-top: -82px;
}
.logout_button
{
    height: 82px;
    width: 130px;
    margin-right: 25px;
    font-size: 25px;
    background-color: grey;
    border-radius: 15px 15px;
    color: white;
}
.logout_button:hover
{
    background-color: silver;
}