.logheader
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0px 10px;
}

.logheader a
{
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    border-radius: 4px;
}

.logheader a.logo
{
    font-size: 25px;
    font-weight: bold;
}

.logheader a:hover
{
    background-color: gray;
    color: black;
}

.logheader a.active
{
    background-color: dodgerblue;
    color: white;
}

.header-right
{
    float: right;
}

@media screen and (max-width: 500px) 
{
    .header a 
    {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right 
    {
        float: none;
    }
}

#instalogo
{
    border-radius: 4px;
    width: 80px;
    height: 80px;
}

