body
{
    background-color: silver;
}

.allgallery
{
    text-align: center;
}
.gallery
{
    margin-top: 20px;
    width: 1590px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    background-color: black;
    border-radius: 30px;
}
.box{
    width: 500px;
    height: 430px;
    border: 5px solid gray;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: silver;
}
.images
{
    width: 500px;
    height: 310px;
    border-radius: 15px;
}
.users
{
    margin-top: -8px;
}
.inputcomment
{
    width: 300px;
    height: 25px;
    margin-top: -15px;
    font-size: 18px;
    float: left;
}
.comment
{
    float: left;

}
.likes
{
    float: right;
    margin-top: -20px;
}
.likediv
{
    float: right;
    font-size: 20px;
    margin-top: 20px;
    
}
.input_hidden
{
    display: none;
}

.pagenumbersbox
{
    height: 40px;
    width: 1590px;
    font-size: 26px;
    position: relative;
    background-color: silver;
    margin-top: 3px;
    margin: auto;
    border-radius: 10px 10px;
}
.pagenumbers
{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    
}